@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #ffffff;
    --secondart-color: #29A867;
    --color-text: #0C0D36;
    --color-card-category: #f1f4f5;
    --color-hover-navbar: #FF7158;
}